// @import "variables.scss";

.login-auth {
	.caboodle-brand {
		font-size: $x-small;
		color: $grey-60;

		img {
			padding-left: 8px;
            padding-right: 5px;
            height: 24px;
        }
        
        a {
            &:last-child {
                img {
                    padding-left: 5px;
                    padding-right: 0;
                }
            }
        }

		.version {
			flex: 1;
			text-align: right;
		}
	}

	.store-branding {
		margin-bottom: 30px;

		.store-image-container {
			background-color: $white;
		    border: 5px solid white;
			width: 80px;
			height: 80px;
		    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);

			.store-image {
				width: 100%;
				height: 100%;
				background-color: $grey-10;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.store-image-info {
			padding-left: 15px;
		}
	}

	.forgot-password {
		padding-top: 15px;
		font-size: $small;
	}
}